.container {
    border: 1px solid black;
    background-image: url(../preserving-privacy-and-security-in-a-generative-ai-world.png);
    color: whitesmoke;
    min-height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 90px;

}

.header {
    font-size: 28px;
    text-align: center;
    margin-top: 140px;
    font-weight: bold;
    color: #c2e71f;
    text-shadow: 0 2px 2px rgba(0, 0, 0,);
}

.sub-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(247, 88, 88);
    color:#c2e71f;
    width: 80%;
    padding: 60px 20px;
    box-shadow: 0px 0px 5px black, 0px 0px 5px white;
             

}

.sub-container:hover {
    box-shadow: 0px 0px 5px black, 0px 0px 5px rgb(247, 88, 88);
}

input {
    padding: 5px 10px;
    font-size: 13px;
}

button {
    cursor: pointer;
    background-color: rgb(121, 6, 222);
}